@using CDCavell.ClassLibrary.Web.Mvc.Models
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    PageViewModel pageModel = (PageViewModel)ViewData["PageViewModel"];
    UserViewModel userModel = (UserViewModel)ViewData["UserViewModel"];
}


<div class="nav-page">
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@ViewBag.MainUrl/Home/Index">
                    <img src="_content/CDCavell.ClassLibrary.Web.Razor/img/icon-light.png" alt="logo" width="32" height="32" class="icon-banner mb-2">
                    CDCavell
                </a>
            </div>
        </div>
         <div id="navbar" class="navbar-collapse collapse w-75 justify-content-end">
             <ul class="nav navbar-nav m-1">
                 @if (User.Identity.IsAuthenticated)
                 {
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Authenticated")).Succeeded)
                    { 
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle text-decoration-none text-light" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@userModel.Email <span class="caret"></span></a>
                            <ul class="dropdown-menu m-0 p-0">
                                <li><a class="dropdown-item" href="@ViewBag.AuthorizationUrl/Registration/Status">Account Information</a></li>
                                <li class="dropdown-divider m-0 p-0"></li>
                                <li class="m-0 p-0"><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                         <li>
                            <a class="text-light text-decoration-none" href="@ViewBag.MainUrl/Account/Logout">
                                Logout
                            </a>
                         </li>
                    }
                 }
                 else
                 {
                     <li>
                        <a class="text-light text-decoration-none" href="@ViewBag.MainUrl/Account/Login">
                            Login
                        </a>
                     </li>
                 }
             </ul>
             <ul class="nav navbar-nav ml-1 mx-4 justify-content-end">
                <li>
                    <a class="text-light text-decoration-none" href="@ViewBag.MainUrl/Home/Search">
                        <div class="row flex-nowrap">
                            <div class="col-auto text-right m-1 mr-0 p-0">Search</div>
                            <div class="col-auto m-1 p-0"><i class="fas fa-search" aria-hidden="true"></i></div>
                        </div>
                    </a>
                </li>
             </ul>
         </div>
    </nav>
</div>
