<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="cdcavell.name" />
    <meta property="og:title" content="Personal website for Christopher D. Cavell." />
    <meta property="og:description" content="An ongoing development of a Net Core 3.1 MVC application utilizing OAuth 2.0 framework for authentication. Built with Brock Allen & Dominick Baier's IdentityServer4 v4.1.1. This version also includes Microsoft's Bing Custom Search API with Eugene Simakin's jQuery pagination plugin v1.4.2. Application can easily be changed to use SAML2P in place of OAuth 2.0 for authentication, with the Rsk.Saml SAML component from Rock Solid Knowledge." />
    <meta property="og:image" content="https://cdcavell.name/img/thumbnail.png">
    <meta property="og:url" content="https://cdcavell.name/">
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="912870229223717" />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@@Christo52186463" />
    <meta property="twitter:creator" content="@@Christo52186463" />
    <meta property="twitter:title" content="Personal website for Christopher D. Cavell" />
    <meta property="twitter:description" content="An ongoing development of a Net Core 3.1 MVC application utilizing OAuth 2.0 framework for authentication. Built with Brock Allen & Dominick Baier's IdentityServer4 v4.1.1. This version also includes Microsoft's Bing Custom Search API with Eugene Simakin's jQuery pagination plugin v1.4.2. Application can easily be changed to use SAML2P in place of OAuth 2.0 for authentication, with the Rsk.Saml SAML component from Rock Solid Knowledge." />
    <meta property="twitter:image" content="https://cdcavell.name/img/twitter-thumbnail.png" />

    <meta name="description" content="Personal website for Christopher D. Cavell. An ongoing development of a Net Core 3.1 MVC application utilizing OAuth 2.0 framework for authentication. Built with Brock Allen & Dominick Baier's IdentityServer4 v4.1.1. This version also includes Microsoft's Bing Custom Search API with Eugene Simakin's jQuery pagination plugin v1.4.2. Application can easily be changed to use SAML2P in place of OAuth 2.0 for authentication, with the Rsk.Saml SAML component from Rock Solid Knowledge." />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google-site-verification" content="v2DPETQobg3Ip1zEugzvNdHM9-oqH5TdPKq2ycrn1w0" />

    <title>Personal website for Christopher D. Cavell</title>
    <base href="/" />

    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />

    <link rel="stylesheet" type="text/css" media="screen" href="~/lib/bootstrap/css/bootstrap.min.css" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/lib/fontawesome-free/css/all.min.css" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/site.min.css" nonce="@ViewBag.StyleNonce" />
    <noscript>
        <style nonce="@ViewBag.StyleNonce">
            #processing {
                display: none;
            }
            .page-container {
                display: none;
            }
        </style>
    </noscript>
</head>
<body>

    <div class="page-container">
        <partial name="_Nav" />

        <div class="background-image"></div>
        <div class="background-gradient"></div>
        <div class="container-fluid">
            <div class="body-container" id="container">
                @RenderBody()
            </div>
        </div>

        <partial name="_Foot" />
    </div>
    <div id="processing" class="modal fade" tabindex="-1" role="dialog" aria-label="processingLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 shadow bg-processing">
                <div class="modal-body p-0">
                    <h3 class="text-center pt-2">Processing, please wait ...</h3>
                </div>
            </div>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />
    <noscript>
        <div class="background-image"></div>
        <div class="background-gradient"></div>
        <div class="noscriptmsg" id="noscriptmsg">
            <div class="alert alert-danger" role="alert">
                JavaScript must be enabled in order for you to use cdcavell.name.
                However, it seems JavaScript is either disabled or not supported by your browser.
            </div>
        </div>
    </noscript>

    <script async src="~/lib/jquery/jQuery-3.5.1-min.js" nonce="@ViewBag.ScriptNonce"></script>
    <script async src="~/lib/bootstrap/js/bootstrap.bundle.min.js" nonce="@ViewBag.ScriptNonce"></script>
    <script async src="~/lib/twbs-pagination/jquery.twbsPagination.min.js" nonce="@ViewBag.ScriptNonce"></script>
    <script async src="~/js/site.min.js" nonce="@ViewBag.ScriptNonce"></script>

    <partial name="_CookieConsentPartialScript" />

    @RenderSection("scripts", required: false)

</body>
</html>
